.sombra-caja {
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
}
.oswald {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #303841;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333333;
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}
.intro {
  width: 1340px;
  height: 650px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
}
.intro__imagen {
  width: 1320px;
  position: absolute;
}
.intro__imagen img {
  width: 100%;
  height: 624px;
  object-fit: cover;
}
.intro__contenido {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
}
.intro__categoria {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
}
.intro__titulo {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}
.intro__autor {
  width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  color: #ffffff;
}
.intro__autor img {
  width: 100px;
  height: 100px;
  float: center;
  border-radius: 50px;
  text-align: center;
}
.intro__autor span {
  display: block;
  text-align: center;
}
.intro__autor-titulo {
  color: rgba(255, 255, 255, 0.7);
}
.articulo--principal {
  max-width: 800px;
  margin: 0 auto;
  color: #ffffff;
  line-height: 28px;
}
.articulo--principal__intro {
  font-size: 26px;
}
.articulo--principal h2 {
  margin: 40px 0 40px 0;
  font-size: 50px;
  text-align: center;
}
.articulo--principal h3 {
  color: #8841da;
  text-align: center;
}
.contenedor--cajas {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
.caja {
  max-width: 430px;
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.4);
}
.caja__imagen {
  overflow: hidden;
}
.caja__contenido {
  padding: 25px;
  background-color: #ffffff;
}
.caja span {
  color: #8841da;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.caja a {
  text-decoration: none;
  color: #0439ca;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
